$themes: (
	default: (
		font-color: #1f1f1f,
		bg-color: #eeeeee,
		thead: darken(#eeeeee, 15%),
		card-bg: white,

		input-bg: #b3b3b3,
		tr-border: black,
		tr-even: lightgray,
		tr-hover: gray,

		button-bg: white,
		button-color: #1f1f1f,
		button-hover: darken(white, 10%),

		separator: #2a2a2a,

		a-hover: lightgray
	),
	dark: (
		font-color: #fafafa,
		bg-color: #333333,
		thead: darken(#333333, 15%),
		card-bg: #252525,

		input-bg: #3b3b3b,
		tr-border: #fdfdfd,
		tr-even: #222222,
		tr-hover: black,

		button-bg: #222222,
		button-color: #fafafa,
		button-hover: lighten(#222, 10%),

		separator: #a2a2a2,

		a-hover: darkgray
	)
);

// Shamelesly stolen from https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
@mixin themed() {
	@each $theme, $map in $themes {
	.theme--#{$theme} & {
		$theme-map: () !global;

		@each $key, $submap in $map {
			$value: map-get(map-get($themes, $theme), '#{$key}');
			$theme-map: map-merge($theme-map, ($key: $value)) !global;
		}
		@content;
		$theme-map: null !global;
		}
	}
}

@function t($key) {
  @return map-get($theme-map, $key);
}
