
#elements {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.resource-link {
    display: block;
    width: 100%;

    padding: 1em;

    margin-bottom: 3em;
    
    box-shadow: #00000080 5px 5px 2px 2px;
	transition: box-shadow .5s;

	&:hover{
		box-shadow: #00000080 10px 10px 10px 4px;
	}

    @include themed(){
		background: t("card-bg");
	}

   
    span {
        display: block;
        margin-top: -1em;
        font-style: italic;
        font-size: small;

      
    }

    p {
        @include themed(){
            border-top: 1px solid t("separator");
            padding-top: .5em;
        }
    }

}