input#search{
	margin-top: 10px;
	display: block;
	width: 100%;
	height: 50px;

	@include themed(){
		background-color: t("input-bg");
	}
	border-radius: 5px 5px 0 0;
	font-size: 45px;
	border: none;
	border-bottom: 1px solid gray;
}

table {
	border-collapse: collapse;
	margin-top:  20px;
	display: inline-block;
	overflow-x: visible;
	overflow-y: scroll;
	height: 500px;
	position: relative;

	tr {
		width: 95%;
	}
}

td {
	border: 1px solid black;
}


th {
	padding: 5px;
	transition: background-color .5s;
	@include themed(){
		background-color: t("thead");
	}
	cursor: pointer;
	position: sticky;
	top: 0;
}


:not(th) tr {
	@include themed(){
		border: 1px solid t("tr-border");
	}
	transition: background-color .5s;

	&:nth-child(even) {
		@include themed(){
			background-color: t("tr-even");
		}
	}

	&:hover {
		@include themed(){
			background-color: t("tr-hover");
		}
	}
}

