@import "colors";
@import "fonts";
@import "table";
@import "links";

* {
	box-sizing: border-box;
	transition: color .2s, background .2s;
}

.separator {
	width: 95%;
	height: 1px;
	@include themed(){
		border-bottom: 2px dashed t("separator");
	}
	margin: 10px auto !important;
}

.debug-line {
	width: 100;
	height: 1px;
	border-bottom: 1px solid black;
}

.bold {
	font-weight: bold;
}

html, body {
	width: 99%;
	height: 100%;

	@include themed(){
		background: t("bg-color");
		color: t("font-color");
	}

	font-family: "Open Sans"
}

#center {
	text-align: center;

	* {
		max-width: 90%;
		margin: auto;
	}
}


.menu {
	padding-top: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	row-gap: 1em;

	a {
		display: block;
		width: 100%;
		height: 60px;
		line-height: 60px;

		@include themed(){
		background-color: t("button-bg");
		box-shadow: #00000080 5px 5px 2px 2px;
		color: t("button-color");
		}

		transition: background-color .5s, box-shadow .5s;
		text-decoration: none;

		&:hover{
			@include themed(){
			background-color: t("button-hover");
			box-shadow: #00000080 10px 10px 10px 4px;
		}
	}


	}
}

section {
	width: 80%;
	margin: auto;
}

p {
	text-indent: 1em;
}

a {
	@include themed(){
		color: t("font-color");
	}
	padding: 2px;

}
